<div class="banner-text">
    <h1> Welcome to TORAMA video Portal</h1>
    <br>
    <div>
        <h2> Your Location is ....</h2>
    </div>
    <br>

    <div>
        <p> click menu corresponding to video of your interest. </p> <br />
    </div>
</div>

<div class="container-fluid bg-dark ">
    <div class=" row justify-content-between">
        <div class="col-sm-9 ml-0 pr-0 ">
            <!--carousal-->

            <div class="col d-flex flex-column flex-sm-row  ">
                <div id="vid-play" class="col carousel p-0 mr-1 mt-1 bg-warning text-white">
    <video width="500" height="300"controls autoplay>

        <source src="/What is Grace.1.mp4" type="video/mp4">1
    </video>
                </div>
                <div class="col carousel p-0 mt-1 bg-warning text-white">carousel

                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>


            <!-- categoryvideos-->
            <div class="col text-white">Java</div>
            <div class="col d-flex my-1 p-0 newvideo">
                <div class="col newvideo bg-warning ">
                    
<div class="row justify-content-lg-start justify-content-md-start">
    {{#each videoFiles }}
        <div class="col-md-4 col-lg-3 col-sm-12">
          <div class="card mb-3 shadow-sm">
            <video id = "play" class="bd-placeholder-img card-img-top" id="video-{{@index}}"
            controls onloadeddata="setDuration({{@index}})" src="{{this}}" 
                type="video/mp4"> 
                Your browser does not support video html 5 video tag
                </video>
            <div class="card-body bg-warning">
              <p class="card-text"> {{formatMe this}} </p>
               <!-- formatMe is a custom helper -->
              <div class="d-flex justify-content-between align-items-center">
                
                <small class="text-muted" id="vid-{{@index}}"></small>
              </div>
            </div>
          </div>
        </div>
            
    {{/each}}
</div>
                </div>
                
            </div>

            <div class="col text-white">Python</div>
            <div class="col d-flex my-1 p-0 newvideo">
                <div class="col newvideo bg-warning "></div>
                <div class="col newvideo bg-warning ml-1"></div>
                <div class="col newvideo bg-warning ml-1"></div>
                <div class="col newvideo bg-warning ml-1"></div>
            </div>

            <div class="col text-white">Node js</div>
            <div class="col d-flex my-1 p-0 newvideo">
                <div class="col newvideo bg-warning "></div>
                <div class="col newvideo bg-warning ml-1"></div>
                <div class="col newvideo bg-warning ml-1"></div>
                <div class="col newvideo bg-warning ml-1"></div>
            </div>

        <div class="col text-white">Javascript</div>
            <div class="col d-flex my-1 p-0 newvideo">
                
                <div class="col newvideo bg-warning ml-1">
 
<div class="row justify-content-lg-start justify-content-md-start">
    {{#each videoFiles }}
        <div class="col-md-4 col-lg-3 col-sm-12">
          <div class="card mb-3 shadow-sm">
            <video id = "play" class="bd-placeholder-img card-img-top" id="video-{{@index}}"
            controls onloadeddata="setDuration({{@index}})" src="{{this}}" 
                type="video/mp4"> 
                Your browser does not support video html 5 video tag
                </video>
            <div class="card-body bg-warning">
              <p class="card-text"> {{formatMe this}} </p>
               <!-- formatMe is a custom helper -->
              <div class="d-flex justify-content-between align-items-center">
                
                <small class="text-muted" id="vid-{{@index}}"></small>
              </div>
            </div>
          </div>
        </div>
            
    {{/each}}
</div>
                </div>
    
            </div>
        </div>
        <div class="col-sm-2 p-0 bg-dark mr-2 ">
            <div class="col playlist bg-warning "></div>
            <!-- New videos-->
            <div class="col text-white">New </div>
            <div class="col recent mt-1 bg-warning "></div>
        </div>
    </div>
</div>
