{{>header}}
{{>loggedin}}
<title>{{pagetitle}}</title>


<div class="banner-text">
    <h1> Welcome to TORAMA video Portal</h1>
    <br>
    <div>
        <h2> Your Location is ....</h2>
    </div>
    <br>

    <div>
        <p class="txt-subtitle"> click menu corresponding to video of your interest. </p> <br />
    </div>
</div>

<div class="container-fluid bg-white " >
      <div class=" row justify-content-between">
          <div class="col-sm-9 ml-0 pr-0 ">
            <!--carousal-->
            <div class="col d-flex flex-column flex-sm-row  ">
                    <div class="col carousel p-0 mt-1 bg-warning text-white">
                      <video src="/toramaengr.mp4" controls type="video/mp4" width="100%"  ></video>    
                    </div>
                    <div class="col carousel p-0 mt-1 bg-warning text-white">
                        
<div id="car" class="carousel slide" data-ride='carousel'>
                        <!--indicators-->
                        <ul class="carousel-indicators">
                            <li data-target="#car" data-slide-to='0' class="active"></li>
                            <li data-target="#car" data-slide-to='1'></li>
                            <li data-target="#car" data-slide-to='2'></li>
                            <li data-target="#car" data-slide-to='3'></li>
                        </ul>
                        <!--images-->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="images/g1.jpg" alt="torimg" class=" carousel-img d-block w-100 h-50">
                            </div>
                            <div class="carousel-item">
                                <img src="images/b1.jpg" alt="torimg" class=" carousel-img d-block w-100 h-50">
                            </div>
                            <div class="carousel-item">
                                <img src="images/b3.jpg" alt="torimg" class="carousel-img d-block w-100 h-50">
                            </div>
                            <div class="carousel-item">
                                <img src="images/b2.jpg" alt="torimg" class="ca d-block w-100 h-50">
                            </div>
                            <div class="carousel-item">
                                <img src="images/g2.jpg" alt="torimg" class=" d-block w-100 h-50">
                            </div>
                        </div>
                        <!--end of images-->
                        <!--controls-->
                        <a href="#car" class="carousel-control-prev" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a href="#car" class="carousel-control-next" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>

                    </div>
            </div>
            
            <!-- categoryvideos-->
            <div class="col text-white ">Java</div>
            <div class="col d-flex my-1 p-0 newvideo">
                <div class="col newvideo bg-warning ">

                    <div class="carousel-item active">
                        <div class="row justify-content-lg-start justify-content-md-start">
                            {{#each videoFiles }}
                            <div class="col-md-4 col-lg-3 col-sm-12">
                                <div class="card mb-3 shadow-sm">
                                    <video id="play" class="bd-placeholder-img card-img-top" id="video-{{@index}}" controls onloadeddata="setDuration({{@index}})" src="{{this}}" type="video/mp4">
                                        Your browser does not support video html 5 video tag
                                    </video>
                                    <div class="card-body bg-warning">
                                        <p class="card-text"> {{formatMe this}} </p>
                                        <!-- formatMe is a custom helper -->
                                        <div class="d-flex justify-content-between align-items-center">

                                            <small class="text-muted" id="vid-{{@index}}"></small>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            {{/each}}
                        </div>
                    </div>


                    <a href="#car" class="carousel-control-prev" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a href="#car" class="carousel-control-next" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>

                </div>
            </div>


            <div class="col text-white">Python</div>
            <div class="col d-flex my-1 p-0 newvideo">
                <div class="col newvideo bg-warning "></div>
                
            </div>

            <div class="col text-white">Node js</div>
            <div class="col d-flex my-1 p-0 newvideo">

                <div class="col newvideo bg-warning ml-1">



                   

                </div>

            </div>

            <div class="col text-white">Javascript</div>
            <div class="col d-flex my-1 p-0 newvideo">

                <div class="col newvideo bg-warning ml-1">

                    <div class="row justify-content-lg-start justify-content-md-start">
                        {{#each javascriptfiles }}
                        <div class="col-md-4 col-lg-3 col-sm-12">
                            <div class="card mb-3 shadow-sm">
                                <video id="play" class="bd-placeholder-img card-img-top" id="video-{{@index}}" controls onloadeddata="setDuration({{@index}})" src="{{'../videos/javascrip'}}" type="video/mp4">
                                    Your browser does not support video html 5 video tag
                                </video>
                                <div class="card-body bg-warning">
                                    <p class="card-text"> {{formatMe "../videos/javascript"}} </p>
                                    <!-- formatMe is a custom helper -->
                                    <div class="d-flex justify-content-between align-items-center">

                                        <small class="text-muted" id="vid-{{@index}}"></small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{/each}}
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-2 p-0 bg-dark mr-2 ">
            <div class="col playlist bg-warning "></div>
            <!-- New videos-->
            <div class="col text-white">New </div>
            <div class="col recent mt-1 bg-warning "></div>
        </div>
    </div>
</div>

{{>footer}}