{{> header}}
{{> navbar}}


{{#if userData.image}}
<div class="all_container">

        <img style="background:white;border:gray solid 1px;border-radius: 4rem; max-width: 10%;max-height: 10%;" src="/{{userData.image}}"
                alt="{{userData.name}}">

        </br>
        <p>
                <h1 style="font:18px Arial;color: green">Welcome Back {{userData.name}} </h1>
                <h5 style="font:18px Arial;color: black">Login sucessful with {{ userData.email}} .</h5>


                <p>

                        <h5 style="font-style:italic;color:green">The following below are your information</h5>
                        <h5 style="font:18px Arial;color: black">Name - {{userData.name}} .</h5>
                        <h5 style="font:18px Arial;color: black">Email - {{userData.email}} .</h5>
                        <h5 style="font:18px Arial;color: black">phone - {{userData.phone}} .</h5>


                        <h5 style="font-style:italic;color:blue">You can change your profile picture</h5>

                        <form class="" action="/user/upload_image" enctype="multipart/form-data" method="POST">

                                <input class="btn btn-outline-success my-2 my-sm-0" type="file" name="image">
                                <input class="btn btn-outline-success my-2 my-sm-0" type="submit" name="btnSubmit"
                                        value="Change Profile" />
                        </form>


                </p>

                <a href="/user/logout">Logout</a>
                </br>
                 <a href="/">Go to Home</a>

        </p>
</div>

{{else}}

<div class="all_container">
        <h5 style="font-style:italic;color:green">Profile pictures makes user experience come alive</h5>
        <h5>Upload a profile picture now.</h5>
        <form class="" action="/user/upload_image" enctype="multipart/form-data" method="POST">

                <input class="btn btn-outline-success my-2 my-sm-0" type="file" name="image">
                <input class="btn btn-outline-success my-2 my-sm-0" type="submit" name="btnSubmit" value="Upload" />
        </form>



        </br>
        {{!-- <img style="background:white;border:gray solid 1px;border-radius: 4rem; max-width: 10%;max-height: 10%;"
                src="{{userData.image}}" alt=" {{userData.name}}"> --}}
        <p>
                <h1 style="font:18px Arial;color: green">Welcome Back {{userData.name}} </h1>
                <h5 style="font:18px Arial;color: black">Login sucessful with {{ userData.email}} .</h5>

                <h5 style="font:18px Arial;color: black">Token - {{token}} .</h5>

                <a href="/">Go to Home</a>

        </p>
</div>

{{/if}}

{{> footer}}