<%- include('header'); -%>
<%- include('navbar'); -%>


<div class="all_container">

    <% if(result.length) { %>

        <img style="background:white;border:gray solid 1px;border-radius: 4rem; max-width: 10%;max-height: 10%;"
         src="<%= userData.image %>" alt="<%= userData.name %>">
    <h1 style="font:18px Arial;color: green">Welcome Back <%= userData.name %></h1>
    <h5 style="font:18px Arial;color: black">Login sucessful with <%= userData.email %>.</h5>

    <h5 style="font:18px Arial;color: black">Token - <%= token %>.</h5>

    <a href="/">Go to Home</a>

    <% } else{ %>
        <h1 style="font:18px Arial;color: green"> <%= error %></h1>
        <% } %>
</div>

<%- include('footer'); -%>