{{> header}}
{{> navbar}}


{{#if checker}}

<h1 style="color: darkgreen; font-size:18xp;"> Welcome To Torama Tech {{ user.name}} </h1>


<p>{{videoTitle}} </p>


<p> Recommended for you </p>

<video id="rec-video" style="max-width:100%;height:auto;" controls src=" {{recommended.url}}" type="video/mp4">
</video>

<p> {{recommended.url}}</p>

<p style="font-size:12px;color:black;font-style:normal"> All Videos - watch now</p>


<div class="top_cont" style="display:flex;flex-wrap:wrap;justify-content:center;align-items:center">
    {{#each videoFiles}}

    <div style="position:relative;margin:1% 2px; max-width:25%;max-height:20%">
    <video style="max-height:100%;max-width:100%;" controls src="{{url}}" type="video/mp4">
    </video>

    <h5 > {{formatMe url}}</h5>
     </br>
    <a href="/viewer/view/{{url}}" >View Video</a>

</div>

{{/each}}
</div>

{{else}}


<h1 style="color: darkgreen; font-size:18xp;"> Welcome To Torama Tech </h1>

<p>{{videoTitle}} </p>


<p> Recommended for you </p>

<video id="rec-video" style="max-width:100%;height:auto;" controls src=" {{recommended.url}}" type="video/mp4">
</video>

<p> {{recommended.url}}</p>

<p style="font-size:12px;color:black;font-style:normal"> All Videos - watch now</p>

<div class="top_cont" style="display:flex;flex-wrap:wrap;justify-content:center;align-items:center">
    {{#each videoFiles}}

    <div style="position:relative;margin:1% 2px; max-width:20%;max-height:20%">
    <video style="max-height:100%;max-width:100%;" controls src="{{url}}" type="video/mp4">
    </video>

    <h5 > {{formatMe url}}</h5>
     <a href="/viewer/view/{{url}}" >View Video</a>

</div>

{{/each}}

</div>

{{/if}}


{{> footer}}