<%- include('header'); -%>
<%- include('navbar'); -%>



<div class="all_container">


    <div class="page-header">

        <h1 style="font:22px Arial;margin: 20px;color: darkgreen">
           Thanks for signing Up</h1>

           <img style="background:white;border:gray solid 1px;border-radius: 4rem; max-width: 10%;max-height: 10%;"
           src="<%= image %>" alt="<%= username %>">

           <p>  <%= username %>, your password is <%= password %></p>

           You can Login now  <a href="/login">Click Here</a>

    </div>



</div>





<%- include('footer'); -%>