<%- include('header'); -%>
<%- include('navbar'); -%>



<div class="container">


    <div class="page-header">

        <h1 style="font:22px Arial;margin: 20px;color: darkgreen">
           Thanks for signing Up</h1>

           <p>  <%= username %>, your password is <%= password %></p>

    </div>



</div>





<%- include('footer'); -%>