{{> header}}
{{> navbar}}



<div class="top_cont" style="display:flex;flex-wrap:wrap">
{{#each list}}


<div style="position:relative;margin:5% 10px; max-width:15%">
  <video  style="max-height:100%;max-width:100%;" src="{{vid_url}}" type="video/mp4" controls="" alt="{{vid_name}}">
    </video>
    </br>
    <h5 class="card-title">{{vid_name}}</h5>
    </br>
    <h5 class="card-text">Duration - {{vid_duration}}</h5>
    </br>
    <a href="#" class="btn btn-primary">views - {{vid_views}}</a>
</div>

{{/each}}
</div>


{{> footer}}