{{> header}}
{{> navbar}}



<div class="top_cont" style="display:flex;flex-direction:row;margin:2% 10px;">


  <div class="full_vid_container" style="display:inline-flex;flex-wrap:wrap;flex-direction:column; width:70%;max-height:100%;">

    <div class="full_vid" style="max-width:100%;max-height:70%;">
      <video style="max-height:100%;max-width:100%;" src="{{vid_url}}" type="video/mp4" controls="" alt="{{vid_name}}">
      </video>

    </div>

    <div class="comment_entry" style="height:10%;width:100%;margin-top:10px">

      <form action="/viewer/comments/{{_id}}" method="POST">
        <input class="form-control mr-sm-2" style="width:70%" type="text" name="comments" placeholder="Enter comments here">
        <input class="btn btn-outline-success my-2 my-sm-0" style="width:30%" type="submit" value="send">
      </form>


    </div>


    <div class="comment_section" style="max-width:100%;max-height:50%;margin:3px 0px;">

      {{#each list}}
      
      <h5 style="max-width:100%;color:blue;font-size:15px">{{user_name}}</h5>
      <h5 style="color:black;font-size:13px">{{comment}}</h5>

      {{/each}}

    </div>


  </div>

  <div class="right_vid_container" style="display:flex;flex-direction:column;justify-content:center;margin:0px 10px;width:30%;height:100%">

    {{#each allList}}
    <video style="max-height:100%;max-width:80%;" src="/{{vid_url}}" type="video/mp4" controls="" alt="{{vid_name}}">
      </video>
 <h5 style="max-width:80%;color:black;font-size:17px"> {{formatMe vid_name}}</h5>
        <h5 style="color:red;font-size:15px"> {{vid_views}} views</h5>
        <a style="color: #6b82c7;;font-size:19px;border:white solid 2px; padding:5px; border-radius:0.6rem;" href="/viewer/view/{{vid_url}}/{{_id}}">View Video</a>

    {{/each}}

  </div>

</div>


{{> footer}}