<%- include('header'); -%>
<%- include('navbar'); -%>

    <div class = "grid">
            <div class = "title"> <%= title%></div>
            <div class = "Header"> Header</div>
            <div class = "sidebar"> Sidebar</div>
            <div class = "content"> 

                <p> # of Videos <%= videoFiles.length %> </p>
<% for (k=0;k<8;k=k+4) { %>
    <div class="row">
        <% for (i=k; i<k+4; i++) { %>
            <% if (videoFiles[i]) {el = videoFiles[i]; %>
                <div class="col">
                    <video width="320" height="200" controls src="<%= el %>" 
                        type="video/mp4"> 
                    </video>
                    <p><%= ((decodeURI(el).slice(0,-4)).substr(5,35)) %> </p>
                </div>
            <% }%>
        <%}%>
    </div>
<% } %>
           
    
    <%- include('footer'); -%>