
{{>header}}
{{> navbar}}

<div id="wrapper">


  {{!-- <div id="page-content-wrapper"> --}}
    <div class="container align-items-center text-center pt-3 pb-2 my-5">
      <h1 class="mt-1">
        {{pageTitle}}
      </h1>


      <p class="lead">
        Your search result for '{{searchInput}}' from {{videoDir}}
      </p>


      <div id="listVideo">
        {{#each searchResult}}
        <figure>
          <video controls src="{{path}}" type="video/mp4">
          </video>
          <figcaption>{{title}}</figcaption>
        </figure>
        {{/each}}
      </div>

    </div>

  



</div> 

{{> footer}}