<%- include('header'); -%>
<%- include('navbar'); -%>
<h1><%= videoTitle %></h1>

<p> # of Videos <%= videoFiles.length %> </p>
<% for (k=0;k<videoFiles.length;k=k+4) { %>

    <div class="row">
        <% for (i=k; i<k+4; i++) { %>
            <% if (videoFiles[i]) {el = videoFiles[i]; %>
                <div class="col">
                    <video style="max-height:50%;max-width:109%;height:200px;" controls src="<%= el %>" 
                        type="video/mp4"> 
                    </video>
                    <p><%= ((decodeURI(el).slice(0,-4)).substr(0,28)) %> </p>
                </div>
            <% }%>
        <%}%>
    </div>
<% } %>
<%- include('footer'); -%>
