<%- include('header'); -%>
<%- include('navbar'); -%>
<%- include('jumbotron'); -%>

<h1><%= videoTitle %></h1>

<p> # of Videos <%= videoFiles.length %> </p>
<% for (k=0;k<videoFiles.length;k=k+4) { %>

    <div class="row">
        <% for (i=k; i<k+4; i++) { %>
            <% if (videoFiles[i]) {el = videoFiles[i]; %>
                <div class="col-lg-3  col-md-6 col-sm-6 col-xs-6" id="video-col">
                     
                    <video  controls src="<%= el %>" 
                        type="video/mp4"> 
                        Your browser does not support video html 5 video tag
                    </video>
                    <div><%= ((decodeURI(el).slice(0,-4)).substr(0,28)) %></div>
                    
                </div>
            <% }%>
        <%}%>
    </div>
<% } %>
<%- include('footer'); -%>
