<%- include('header'); -%>
<%- include('navbar'); -%>
<%- include('jumbotron'); -%>

<div>   <h1><%= videoTitle %></h1>

    <p> # of Videos <%= videoFiles.length %> </p>
</div>

<div class="video-row">
    <% videoFiles.forEach ( function (file) { %>

        <div class="video-col" >
                        
            <video  controls src="<%= file %>" 
                type="video/mp4"> 
                Your browser does not support video html 5 video tag
            </video>
<<<<<<< HEAD
            <div class="video-name"><%= ((decodeURI(file).slice(0,-4)).substr(0,45)) %></div>
=======
            <div class="video-name"><%= ((decodeURI(file).slice(0,-4)).substr(0,28)) %> 
                <br>Author: Mshella Albarka
        
            </div>
>>>>>>> f8ea43f5c57a102fe196a00c6f0b5dd4aa502a18
            
        </div>        
            
            
    <% }) %>
</div>
<%- include('footer'); -%>
